#!/bin/sh
# Rocket.Chat - Self-signed HTTPS deployment
# Deploy with: docker compose -f compose.database.yml -f compose.traefik.yml -f compose.yml up -d

REG_TOKEN=
DOMAIN=localhost
ROOT_URL=https://localhost
RELEASE=8.0.1

# Self-Signed cert by default
LETSENCRYPT_ENABLED=false
LETSENCRYPT_EMAIL=demo@email.com
TRAEFIK_PROTOCOL=https

# Prometheus
PROMETHEUS_RETENTION_SIZE=15GB
PROMETHEUS_RETENTION_TIME=15d
# default prometheus port (9090) conflicts with cockpit in centos
PROMETHEUS_PORT=9000
# Grafana
# Set to empty string to use a subpath
GRAFANA_DOMAIN=
# set to /grafana to use from a subpath
GRAFANA_PATH=/grafana

# Default Grafana Login is admin:pass
GRAFANA_ADMIN_PASSWORD=pass
GRAFANA_HOST_PORT=5050
GRAFANA_BIND_IP=127.0.0.1

# Traefik ports
TRAEFIK_DASHBOARD_PORT=8080
TRAEFIK_HTTPS_PORT=443

# MongoDB
MONGODB_BIND_IP=127.0.0.1
MONGODB_PORT_NUMBER=27017

# NATS
NATS_PORT_NUMBER=4222
NATS_BIND_IP=127.0.0.1
